*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}
body{
    background-image: url(images/contact.jpg);
    font-family: sans-serif;
    background-size: cover;
}
a, a:hover{
    text-decoration: none;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    background:#ef4b3f;
}
.top-bar span{
    color: #fff;
}
.top-bar ul{
    list-style: none;
    display: flex;
}
.top-bar li{
    margin: 0px 5px;
}
.top-bar a{
    color: #fff;
}
.top-bar a:hover{
    color: #222;
}
nav{
    background:#229021;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}
nav a{
    color: #fff;
}
nav a:hover{
    color: #ef4b3f;
}
.logo{
    float: 1;
}
.logo a{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.logo a:hover{
    color: #fff;
}
.logo img{
   width: 40px;
   margin-right: 10px;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    padding: 15px 10px;
    font-size: 16px;
}
.toggle{
    font-size: 30px;
    display: none;
}
@media screen and (max-width:650px)
{
    .top-bar{
        display:block;
        position: relative;
        padding: 5px 10px;
      }
      .top-bar li{
          margin-top: 15px;
          display: flex;
      }
      .top-bar span{
        display: flex;
    }
}

@media screen and (max-width:800px)
{
 nav{
      display:block;
      position: relative;
      padding: 15px 20px;
    }
    .menu{
        margin-top: 15px;
        display: none;
    }
    .menu li a{
        display: flex;
    }
    .menu.active, .toggle{
       display: block;
    }
    .toggle{
        position: absolute;
        top: 15px;
        right:20px;
    }
}


.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
.contact .content{
    max-width: 800px;
    text-align: center;  
}
.contact .content h2{
    font-size: 3em;
    color: hsl(0, 0%, 0%);
    font-weight: 500;
    text-align: center;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}
.container .contactinfo{
    width: 50%;
    display: flex;
    background:#1f1e1e;
    color: #fffafa;
    flex-direction: column;
}
.contactinfo h1{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 35px;
    font-weight: 600;
}
.contactinfo h4{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 400;
}
.container .contactinfo .box{
    margin-top: 20px;
    position: relative;
    padding: 5px;
    display: flex;
    cursor: pointer;
}
.container .contactinfo .box .icon{
    min-width: 50px;
    margin-right: 10px;
    height: 50px;
    background: #00bcd4;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    transition: 0.5s;
}
.container .contactinfo .box .icon:hover{
    background:  #2fff00;
    color: white;
}
.container .contactinfo .box .text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
}
.container .contactinfo .box .text h3{
    font-weight: 525;
    color: #00e1ff;
}
.container .contactinfo .txt{
    color: white;
    margin-top: 30px;
    padding-left: 30px;
    line-height: 1em;
    font-weight: 800;
}
.scl{
    position: relative;
    display: flex;
    gap:30px;
    margin-left:100px;
    margin-top: 10px;
    margin-bottom: 35px;
}
.scl li{

    list-style: none;
}
.scl li a{
    
    color: #fff;
    font-size: 1.5em;
    transition: 0.5s;
}
.scl li a:hover{
    color: #00e1ff;
}
.container .contactform{
    position: relative;
    width: 40%;
    background-color: #ffffff;
    min-height: 100px;
    padding: 22.5px;
}
.container .contactform h2{
   font-size: 1.1em;
   color: #1f1e1e;
   font-weight: 500;
}
.container .contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.container .contactform .inputbox input,
.container .contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.container .contactform .inputbox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #666;
    transition: 0.5s;
}
.container .contactform .inputbox input:focus ~ span,
.container .contactform .inputbox textarea:focus ~ span,
.container .contactform .inputbox input:valid ~ span,
.container .contactform .inputbox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 0.9em;
    transform: translateY(-20px);
}
.container .contactform .inputbox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.3em;
    font-weight: 500;
}

footer{
    margin-top: 3%;
    background-color: #000000;
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.sociallink{
    display: flex;
    justify-content: center;
}
.sociallink a{
    text-decoration: none;
    padding: 10px;
    background-color: #fefefe;
    margin: 10px;
    border-radius: 50%;
}
.sociallink a i{
    font-size: 1.5em;
    color: black;
    opacity: 0.9;
}
.sociallink a:hover{
    background-color: #08ff15;
    transition: 0.5s;
}
.sociallink a:hover i{
    background-color: #f1f2f2;
    transition: 0.5s;
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
}
.footernav ul li a{
    color: white;
   margin: 20px;
   text-decoration: none;
   font-size: 1.3em;
   opacity: 0.7s;
   transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 1;
}
.footerbottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: white;
}
.deg{
    opacity: 0.7;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

footer{
    position: relative;
    margin-top: 100px; 
    width: 100%;
    background:#3585ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  footer .social-icon,
  footer .menu{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      flex-wrap: wrap;
  }
  footer .social-icon li,
  footer .menu li{
      list-style: none;
  }
  footer .social-icon li a
  {
      font-size: 2em;
      color: white;
      margin: 0 10px;
      display: inline-block;
      transform: 0.5s;
  }
  footer .social-icon li a:hover{
      transform: translateY(-10px);
  }
  footer .menu li a{
      font-size: 1.2em;
      color: rgb(255, 255, 255);
      margin: 0 10px;
      display: inline-block;
      text-decoration: none;
      opacity: 0.75;
  }
  footer .menu li a:hover{
      opacity: 1;
  }
  footer p{
      color: white;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 8px;
      font-size: 1.1em;
  }
  footer .wave{
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
      height: 100px;
      background:url(images/wave.png);
      background-size: 1000px 100px;
  }
  footer .wave#wave1
  {
      z-index: 1000;
      opacity: 1;
      bottom: 0;
      animation: animateWave 4s linear infinite;
  }
  footer .wave#wave2
  {
      z-index: 999;
      opacity: 0.5;
      bottom: 10px;
      animation: animateWave-02 4s linear infinite;
  }
  footer .wave#wave3
  {
      z-index: 1000;
      opacity: 0.2;
      bottom: 15px;
      animation: animateWave-03 3s linear infinite;
  }
  footer .wave#wave4
  {
      z-index: 999;
      opacity: 0.7;
      bottom: 20px;
      animation: animateWave-04 3s linear infinite;
  }
  @keyframes animateWave{
      0%{
          background-position-x:1000px ;
      }
      100%{
          background-position-x:0px ;
      }
  }
  @keyframes animateWave-02{
      0%{
          background-position-x:0 ;
      }
      100%{
          background-position-x:1000px ;
      }
  }
  @keyframes animateWave-03{
      0%{
          background-position-x:1000px ;
      }
      100%{
          background-position-x:0px ;
      }
  }
  @keyframes animateWave-04{
      0%{
          background-position-x:0 ;
      }
      100%{
          background-position-x:1000px ;
      }
  }
  
  
  

